body {
    font-family: Arial, san-serif;
    padding: 20px;
    background-color: #fefefe;
}

.result-box {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.download-btn {
    margin-top: 20px;
    text-align: center;
}

.download-btn a {
    display: inline-block;
    background-color: #2b8cbe;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}
